I am {{name}}, a Customer Success Architect at GitHub, helping customers with their DevOps journeys with GitHub.

<ul>
    <li>
        I'm primarily interested in developer productivity with DevOps and GitHub. I am also interested in .NET, Azure PaaS, and game development with Unity3d
    </li>
    <li>
        I'm on Twitter: https://twitter.com/samsmithnz
    </li>
    <li>
        I have a number of projects I chip away at from time to time.
        - I have an Azure/DevOps blog: https://samlearnsazure.blog
        - I have a personal website: www.samsmithnz.com (source is in it's own org: https://github.com/SamSmithNZ-dotcom)
        - I created a tool to migrate Azure Pipelines to GitHub Actions: https://github.com/samsmithnz/AzurePipelinesToGitHubActionsConverter
        - I created a tool to measure DORA DevOps metrics in Azure DevOps and GitHub: https://github.com/samsmithnz/DevOpsMetrics
        - I created a custom Feature Flags system: https://github.com/samsmithnz/SamsFeatureFlags
        - I write very opinionated software advice: https://github.com/samsmithnz/OpinionatedSoftwareAdvice
        - I tinker with amateur game development: https://github.com/samsmithnz/BattleSimulator. I sometimes blog about this too: https://turnbasedengine.blogspot.com/
    </li>
</ul>

<!--[![SamSmithNZ's github stats](https://github-readme-stats.vercel.app/api?username=samsmithnz)](https://github.com/anuraghazra/github-readme-stats)-->


<p align="center">This <i>README</i> file is generated <b>every 6 hours</b>! Last refresh: {{date}}<br /><a href="https://medium.com/@th.guibert/how-to-create-a-self-updating-readme-md-for-your-github-profile-f8b05744ca91">Create your own here!</a></p>
